body {
    font-family:Droid Serif,Georgia,serif;
    margin:0;
    padding:0;
    background-color:black;
}

h1 {
    font-size:32pt;
}

h4 {
    margin:0;
    font-size: 18pt;
}

a {
    font-weight:normal;
    text-decoration: none;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

.gridSquare {
    color:white;
    border:4px solid #c0a062;
    min-height: 240px;
    background-color:#0f324e;
    padding:10px;
    margin:0 0 20px 0;
}

.gridSquare h4 {
    border-bottom:1px solid white;
}

.gridSquare img {
    max-width:300px;
    max-height:150px;
}

.ghLink {
    font-size:10pt;
    float:right;
}

.pageOuter {
    margin-top:20px;
}

.pageTitle {
    margin:0 0 10px 0;
    text-align:center;
    font-weight:bold;
    color:#c0a062;
    font-size:28pt;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.col {
    display: block;
    float:left;
    margin: 0 0 0 2%;
}
/* .col:first-child { margin-left: 0; } */

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 47%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col { 
        margin: 0 0 0 2%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 96%; }
}